.generate-show-home-container {

    .genres-buttons-grid {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .genre-button {
        border-radius: 5px;
        border: 2px dashed #2F243A;
        background: rgba(139, 95, 191, 0.10);
        color: #FFF;
        text-align: center;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        height: 60px;
        width: 250px;
    }

    .genre-button.active,
    .genre-button:hover {
        border-radius: 5px;
        border: 2px solid #2F243A;
        background: #8E6EB5;
    }

    .generate-button-container {
        margin-bottom: 30px;
    }

    .generate-button {
        width: 200px;
        height: 50px;
        border-radius: 5px;
        border: 2px solid #8E6EB5;
        background: #2F243A;
        color: #EFCEFA;
        text-align: center;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
    }

    .generate-button:hover {
        background-color: #0D090A;
        color: #FFF;
    }
}