.search-results-container {
    flex: 1;
    justify-content: center;
    flex-direction: column;
}
.search-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.search-label {
    margin: 40px 0px 40px 40px;
    color: #FFF;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.info-message {
    color: white;
    font-family: Helvetica;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.show-data-grid-container {
    margin-left: 10px;
}