.search {
    display: flex;
    border: 2px solid #2F243A;
    background: rgba(239, 206, 250, 0.10);
    border-radius: 5px;

    .search-input {
        width: 158px;
        height: 28px;
        border: none;
        background: none;
        padding-left: 10px;
        color: #EFCEFA;
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;
    }

    .search-input::placeholder {
        color: #EFCEFA;
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;
    }

    .search-input:focus-visible {
        outline: none;
    }

    .search-icon {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
        cursor: pointer;
    }
}