@media (min-width: 1000px) {

    .nav-menu,
    .nav-menu-links {
        display: none !important;
    }
}

@media (max-width: 1000px) {
    .nav-links-group {
        display: none !important;
    }
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 5px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

.nav-logo {
    margin-left: 40px;
    cursor: pointer;
}

.nav-links-group {
    display: flex;
    float: right;
    position: absolute;
    right: 0;
}

.nav-link a {
    display: block;
    font-family: Helvetica;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 0px 30px 0 30px
}

.nav-link {
    .active {
        color: #8E6EB5 !important;
    }

    a:hover {
        color: #8E6EB5 !important;
        font-weight: bold;
        text-shadow: 2px 2px black;
    }
}

.nav-menu {
    margin: auto 40px auto auto;
}

.menu-button {
    cursor: pointer;
    background: transparent;
    border: 1px solid #8E6EB5;
    border-radius: 5px;
}

.menu-button:hover {
    border: 2px solid #8E6EB5;
}

.menu-button svg {
    margin: 5px;
}

.nav-open {
    display: block;
}

.nav-closed {
    display: none;
}

.nav-menu-links {
    .MuiList-root {
        background-color: black;
    }
}