.header-container {
    background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.00) 100%);
    width: 100%;
    display: flex;
    padding-top: 10px;

    .header-logo {
        padding-left: 40px;
    }

    .links-group {
        display: flex;
        float: right;
        padding-top: 15px;
        position: absolute;
        right: 0;

        .link a {
            display: block;
            font-family: Helvetica;
            font-size: 20px;
            color: white;
            text-decoration: none;
            padding: 0px 30px 0 30px
        }

        .active, .link a:hover {
            color: #8E6EB5 !important;
        }
    }
}