.sort {
    .MuiFormControl-root {
        border-radius: 5px;
        border: 2px solid #2F243A;
        background-color: rgba(239, 206, 250, 0.10);
        width: 200px;
        height: 30px;
        margin: 0;
    }

    .MuiSelect-select {
        color: #EFCEFA !important;
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        padding-left: 10px;
    }

    .MuiSvgIcon-root {
        color: #8E6EB5;
    }

    .css-m5hdmq-MuiInputBase-root-MuiInput-root-MuiSelect-root:after {
        content: none;
    }
}

.MuiPaper-root {
    background-color: rgba(239, 206, 250, 0.10) !important;

    .MuiMenuItem-root {
        color: #EFCEFA;
    }

    .MuiMenuItem-root:hover {
        background-color: #2F243A;
    }

    .Mui-selected {
        background-color: #8E6EB5 !important;
        color: #0D090A;
    }
}